.reservation {
  height: 100%;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.reservation__title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: 0 auto 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__form {
  display: flex;
  flex-direction: column;
  margin: 0px auto 120px auto;
  max-width: 385px;
}

.reservation__fieldset {
  display: flex;
  flex-direction: column;
  width: 385px;
}

.reservation__checkbox {
  margin: 32px auto 0 auto;
}
